.splash-container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.hue-shift {
  animation: hue-shift 9s infinite alternate;
}

.splash-page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #44789E, #0E446B);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 1;
}

.splash-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100vh;
  background-image: url(../../images/splash/bg-pat.png);
  background-size: cover;
  opacity: .7;
  z-index: -1;
}

.splash-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.content-details {
  max-width: 80%
}

.title {
  font-size: 6rem;
  color:#fff;
  margin-bottom: 1rem;
}

.splash-description {
  color: #A4AFD0;
  margin-bottom: 2.5rem;
}

.splash-about {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

.splash-about input {
  border: none;
  border-radius: 5rem;
  padding: 2rem;
  outline: none;
}

.about-btn {
  width: 15rem;
  font-size: 2rem;
  background-image: linear-gradient(to right, #A4AFD0, #F389C2);
  color: #fff;
  cursor: pointer;
}

.search-btn:hover {
  background-image: linear-gradient(to left, #A4AFD0, #F389C2);
}

.sm-list {
  display: flex;
  justify-content: center;
}

.sm-link {
  color: #298F7D;
  width: 3rem;
  height: 3rem;
  border: solid 1px #298F7D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
}

.sm-link:hover {
  background-image: linear-gradient(to top right, #D62BE7, #6FD1C6);
  color: #fff;
}

.image-group {
  text-align: center;
  position: relative;
}

.blob-large {
  max-width: 100%;
  animation: move-up 2s infinite alternate;
}

.blob-small {
  width: 30%;
  position: absolute;
  top: 9rem;
  left: 5rem;
  z-index: 10;
  animation: move-down 2s infinite alternate;
}

.blob {
  position: absolute;
  z-index: 1;
}

.blob-1 {
  top: -11rem;
  left: 50%;
  transform: translateX(-50%);
}

.blob-2 {
  width: 14%;
  top: 10rem;
  left: -7rem;
}

.blob-3 {
  width: 40%;
  right: 10rem;
  bottom: -15rem;
}

.blob-4 {
  left: -7rem;
  bottom: -17rem;
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(2rem);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2rem);
  }
}

@keyframes hue-shift {
  from {
    filter: hue-rotate(0);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
